
<audio controls
	class="audio_controls {{ .Get "class" }}"
	{{ with .Get "id" }}id="{{ . }}"{{ end }}
	{{ with .Get "preload" }}preload="{{ . }}"{{ else }}preload="metadata"{{ end }}
	
	style="width: 20%; margin-bottom: 25px" >


	{{ with .Get "ogg" }}<source src="{{ . }}" type="audio/ogg">{{ end }}
    {{ with .Get "mp3" }}<source src="{{ . }}" type="audio/mpeg">{{ end }}
    {{ with .Get "wav" }}<source src="{{ . }}" type="audio/wav">{{ end }}
    Your browser does not support the audio element.
</audio>